*.class
*/.*
*/.settings/*
*/target/*
*/.settings/
*/.project

/.settings/
/.project

/support-cipher/.settings/
/support-cipher/target/
/support-cipher/.classpath
/support-cipher/.project

/support-cipher-api/.settings/
/support-cipher-api/target/
/support-cipher-api/.classpath
/support-cipher-api/.project

/support-cipher-simple/.settings/
/support-cipher-simple/target/
/support-cipher-simple/.classpath
/support-cipher-simple/.project

/support-order-query/.settings/
/support-order-query/target/
/support-order-query/.classpath
/support-order-query/.project

/support-order-query-api/.settings/
/support-order-query-api/target/
/support-order-query-api/.classpath
/support-order-query-api/.project

/support-order-query-simple/.settings/
/support-order-query-simple/target/
/support-order-query-simple/.classpath
/support-order-query-simple/.project

/support-common/.settings/
/support-common/target/
/support-common/.classpath
/support-common/.project

/support-signature/.settings/
/support-signature/target/
/support-signature/.classpath
/support-signature/.project

/support-signature-api/.settings/
/support-signature-api/target/
/support-signature-api/.classpath
/support-signature-api/.project

/support-signature-simple/.settings/
/support-signature-simple/target/
/support-signature-simple/.classpath
/support-signature-simple/.project

/support-task/.settings/
/support-task/target/
/support-task/.classpath
/support-task/.project

/support-task-api/.settings/
/support-task-api/target/
/support-task-api/.classpath
/support-task-api/.project

/support-task-simple/.settings/
/support-task-simple/target/
/support-task-simple/.classpath
/support-task-simple/.project

